.person_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}
.preview {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.form-label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
  min-width: 100px;
}
.form-input {
  flex: 2;
  padding: 5px;
  font-size: 16px;
}
.form-btn {
  margin: 20px;
  width: 270px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
.form-btn:hover {
  background-color: #67e650;
  transform: translateY(-2px);
}
.cancel-btn {
  background-color: #f44336;
  color: white;
}
.cancel-btn:hover {
  background-color: red;
  transform: translateY(-2px);
}
.error .form-input,
.error .preview {
  border: 3px solid red;
}
