.header {
  height: 134px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.header input[type='text'] {
  height: 24px;
  width: 405px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  margin-left: 64px;
  margin-top: 70px;
  transition: transform 0.2s ease-in-out;
  border: none;
  box-shadow: 0 0 10px #494848;
}
.header-button {
  height: 56px;
  width: 300px;
  margin-right: 19px;
  margin-top: 62px;
}
.red,
.green {
  font-size: 16px;
  min-height: 33px;
  min-width: 119px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: 0 0 10px #494848;
  transition: transform 0.2s ease-in-out;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.red:disabled {
  background-color: white;
  color: black;
  opacity: 0.5;
  cursor: not-allowed;
}
.header input:hover,
.green:hover,
.red:hover {
  transform: translateY(-2px);
}
