.MainTable {
  height: 75%;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 10px;
  box-shadow: 0 0 10px #494848;
}
.custom-header {
  position: sticky;
  top: 0;
  background-color: #509ffa;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
  overflow-y: auto;
}
th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table tbody tr {
  cursor: pointer;
}
table tbody tr:hover {
  background-color: #f0f0f0;
}
